@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

* {
    padding: 0;
    margin: 0;
}

.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --cor0:#A65874;
    --cor1:#c8eff3;
    --cor2:#87bcc4;
    --cor3:#BF9663;
    --cor4:#8C4C27;
}
body {
    background-color: antiquewhite;
}
header {
    background-color: rgb(255, 254, 254);
    height: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411)

}
header > p {
    text-align: right;
    font-family: Spicy Rice;
}
#titulo {
    font-family: "Spicy Rice", serif;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    display: block;
    padding-top: 30px;
    color: rgb(0, 0, 0);
}
header > p {
    font-family: "Spicy Rice";
    text-align: right;
    color: white;
}
.men1 {
    background-color: rgb(206, 205, 205);
    padding: 5px;
    
}
nav > a {
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    padding: 3px;
    color: black;    
}  
nav > a:hover {
    background-color: black;
    color: white; 
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fotopet {
    background-image: url(../img/pets_width_900.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    /* border: 1px solid black; */
    height: 300px;
    width: auto;
    margin: -19px -19px -0px -19px;
    padding-bottom: 20px;
}
ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    text-align: justify;
    columns: 2;
    font-family: "Spicy Rice";
    font-weight: normal;
    font-size: 1.3em;
}
ul.lst {
    margin: auto;
}
.lst {
    width: px;
    display: block; 
    columns: 2;
    padding-top: 20px;
    
}
